# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    allow:
      - dependency-type: "direct"
        update-types:
          - version-update:semver-patch
          - version-update:semver-minor
    ignore:
      - dependency-name: "some-noisy-package"
    groups:
      all-minor-patch:
        patterns:
          - "*"
        update-types:
          - version-update:semver-patch
          - version-update:semver-minor
