version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps"
    allow:
      - dependency-type: "direct"

    groups:
      all-minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch