/* If your overriding styling, and your overrides are for components within the panel,
 you should probably use the app.config.ts file to override the components. */

@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --font-sans: 'Inter', sans-serif;
}

.default-layout,
.admin-layout,
.server-layout {
  --ui-container: 100%;
}

/* Hide scrollbar in all browsers */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}
